<div class="container">
  <div class="row">
    <h1 class="col-sm mt-5">Reset your password</h1>
  </div>
  <div class="row">
    <h1 class="col-sm mt-5">
      <form (ngSubmit)="submit()" [formGroup]="registerForm">
        <input
          [formControl]="username"
          type="text"
          class="form-control"
          placeholder="username"
          required="test" />
        <input
          [formControl]="password"
          type="password"
          class="form-control mt-2"
          placeholder="password" />
        <input
          [formControl]="confirmPassword"
          type="password"
          class="form-control mt-2"
          placeholder="re-enter password" />
        <input type="submit" value="Reset password" class="btn btn-primary" />
      </form>
    </h1>
  </div>
  <div *ngIf="displayError !== undefined" class="alert alert-danger mt-5">
    {{ displayError }}
  </div>
</div>
