<div class="container">
  <div class="row">
    <h1 class="col-sm mt-5">Register Page</h1>
  </div>
  <div class="row">
    <h1 class="col-sm mt-5">
      <form (ngSubmit)="submit()" [formGroup]="registerForm">
        <input
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="username"
          required="test" />
        <input
          formControlName="password"
          type="password"
          class="form-control mt-2"
          placeholder="password" />
        <input
          formControlName="firstName"
          type="text"
          class="form-control mt-2"
          placeholder="first name" />
        <input
          formControlName="lastName"
          type="text"
          class="form-control mt-2"
          placeholder="last name" />
        <input
          formControlName="contactNumber"
          type="text"
          class="form-control mt-2"
          placeholder="contact number" />
        <input type="submit" value="Register" class="btn btn-primary" />
      </form>
    </h1>
  </div>
  <!-- <div *ngIf="displayError" class="alert alert-danger mt-5">Invalid Login</div> -->
</div>
