<div class="container">
  <div class="row">
    <h2 class="col-sm mt-5">Update products</h2>
  </div>
  <div *ngFor="let product of products" class="row">
    <h4 class="col-md mt-5">{{ product.name }}</h4>
    <p class="mb-0">Product description: {{ product.description }}</p>
    <p class="mb-0">Price: {{ product.price }}</p>
    <p class="mb-0">Product features: {{ product.features }}</p>
    <p class="mb-0">Product status: {{ product.status }}</p>
    <p class="mb-0">Stock number: {{ product.stockAmount }}</p>

    <br />
    <form (ngSubmit)="submit(product.name)" [formGroup]="productForm">
      <p class="col-sm">Change stock amount:</p>
      <input
        [formControl]="stockAmount"
        type="number"
        class="form-control mt-2"
        placeholder="New stock amount" />
      <input type="submit" value="Update stock" class="btn btn-primary mt-2" />
    </form>
  </div>
  <input
    (click)="addProduct()"
    type="submit"
    id="reset"
    value="Add new product"
    class="btn btn-primary mt-5" />
</div>
