<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col-sm">
      <h2 class="">View products</h2>
    </div>
    <div class="col-3 pull-right">
      <input type="text" placeholder="Filter products" #filter class="mr-2" />
      <button
        class="btn btn-primary pl-2 pull-right"
        type="button"
        (click)="filterResults(filter.value)">
        Search
      </button>
    </div>
  </div>
  <div *ngFor="let product of filteredProducts" class="row">
    <h4 class="col-md mt-3">{{ product.name }}</h4>
    <p class="mb-0">Description: {{ product.description }}</p>
    <p class="mb-0">Price: {{ product.price }}</p>
    <p class="mb-0">Product features: {{ product.features }}</p>
    <p class="mb-0">Product status: {{ product.status }}</p>
  </div>
</div>
